.skillSection {
    /* overflow: hidden; */
    padding: 70px 0;
}

.skillSection row {
    flex-wrap: wrap;
}

.skills-container {
    max-width: 25%;
    padding: 0;
}

.skills {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.5;
    color: black;
}

.skills-cont {
    display: block;
    padding:0 80px;
    max-width: 100%;
    /* height: 200px; */
}

@media only screen and (max-width: 992px) {
    .skills-container{
        max-width: 100%;
    }
    .skills-cont{
        max-width: 100%;
        /* height: 100px; */
    }
}